<h1>Clock in please</h1>
<form method="post" action="/log_in">
  <input type="text" name="name" placeholder="Name:">
  <input type="text" name="password" placeholder="Password:">

  <input type="submit" value="Clock in">
</form>
