<h1>Welcome to the team kiddo!</h1>
<form method="post" action="/servers/new">
  <input type="text" name="name" placeholder="Name:">
  <input type="text" name="password" placeholder="Password:">

  <input type="submit" value="Sign up & clock in">
</form>