<% if flash(:message) %>
  <p style="color:red;"><%=flash[:incomplete]%></p>
<% end %> 
<h1>Ring in an Order Here</h1>

<form action="/orders" method="POST">
  <label for="order">Place Order Here</label>
  <input type="text" name="drink" id="drink"> </br>
  <label for="table number">Table Number</label>
  <input type="integer" name="tbl_num" id="tbl_num"> </br>
  <label for="quantity">Quantity</label>
  <input type="number" name="quantity" id="quantity" min="1"> </br>
  <input type="submit" value="Send">
</form>