<head>
  
</head>

<body>
  <p> Welcome, <%= present_time %>
  <h4>Please clock in or create a log in</h4>
  <a href="/servers/new">New Server?</a>
  <p>Or</p>
  <a href="/log_in">Log In</a>

</body>

</html>