<head>
  
</head>

<body>
  <p> Welcome! Current time: <%= present_time %>
  <h4>Please clock in or create a log in</h4>
  <a href="/servers/new">New Server?</a>
  <p>Or</p>
  <a href="/log_in">Clock In</a>

</body>

</html>